/*------------------------------------------------------------------------*/

/*						Projet Focus le 03/02/2017						  */

/*------------------------------------------------------------------------*/

body{
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}
/*------------------------------------------------------------------------*/
header{
	background-color: #00CCCC;
}
	nav{
		background-color: #004358;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		padding-left: 15px;
	}
		ul{
			margin-top: 39px;
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.nav{
			padding-left: 0px;
			padding-right: 0px;
		}
			.nav_ul{
				margin-top: 75px;
				display: flex;
				flex-direction: column;
			}
				.nav_li{
					height: 46px;
					display: flex;
					align-items: center;
					border-left: 5px #004358 solid;
				}
				.nav_li:hover{
					background-color: #e3e3e3;
					border-left: 5px #4E961E solid;
				}
					.nav_li_a {
						height: 100%;
					}
						.nav_li_a:hover{
							display: inline-block;
							color: #2B6306;
							width: 100%;
						}
	.entete{
		padding-right: 0px;
		margin-left: 160px;
	}
		.head{
			background-color: #00CCCC;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: 0px;
   			padding-right: 0px;
    		margin-left: 15px;
		}
		.h1{
			text-align: center
			margin-top: 0px;
		}
.ligne{
	background-color: #1F8A70;
	height: 6px;
	margin-left: 175px;
}
/*--------------------------------------------------------------*/
.btn_deco{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 205px;
	height:35px;
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 1px;
}
	.btn_deco:hover{
		text-decoration: none;
		background-color: #eee;
		color: #2B6306;
		border: solid 1px #004358;
	}
.btn_sauv{
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 1px;
}
	.btn_sauv:hover{
		background-color: #eee;
		color: #2B6306;
		border: solid 1px #004358;
	}

.btn_annul{
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 1px;
}
	.btn_annul:hover{
		background-color: #f13131;
		color: #ffffff;
		border: solid 1px #ff0000;
	}
/*------------------------------------------------------------------------*/
/*---------------------------- Form_multiple -----------------------------*/
.form_multiple{
	margin-top: 20px;
	margin-left: 175px;
}