/*------------------------------------------------------------------------*/

/*						Projet Focus le 03/02/2017						  */

/*------------------------------------------------------------------------*/

body{
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}
/*----------------------------------- Login -------------------------------------*/
.connexion{
	margin-top: 10%;
}
	.titre-co{
		background-color: #00CCCC;
    	display: flex;
		margin-top: 0px;
		justify-content: center;
    	margin-bottom: 0px;
    	border-radius: 100px 20px 0px 0px;
    	padding-top: 10px;
    	padding-bottom: 10px
	}
	.ligne-co{
		background-color: #1F8A70;
    	height: 6px;
	}
	.form-co{
		background-color: #004358;
    	color: white;
    	padding: 15px;
    	border-radius: 0px 0px 50px 15px;
	}

/*----------------------------------- Header -------------------------------------*/
header{
	background-color: #00CCCC;
}
	nav{
		background-color: #004358;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		padding-left: 15px;
	}
		.nav{
			padding-left: 0px;
			padding-right: 0px;
		}
			.nav_ul{
				margin-top: 75px;
				display: flex;
				flex-direction: column;
			}
				.nav_li{
					height: 46px;
					display: flex;
					align-items: center;
					border-left: 5px #004358 solid;
				}
				.nav_li:hover{
					background-color: #e3e3e3;
					border-left: 5px #1F8A70 solid;
				}
					.nav_li_a {
						height: 100%;
					}
						.nav_li_a:hover{
							display: inline-block;
							color: #1F8A70;
							width: 100%;
						}
	.entete{
		padding-right: 0px;
		margin-left: 160px;
	}
		.head{
			background-color: #00CCCC;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: 0px;
   			padding-right: 0px;
    		margin-left: 15px;
		}
		.h1{
			text-align: center
			margin-top: 0px;
		}
.ligne{
	background-color: #1F8A70;
	height: 6px;
	margin-left: 175px;
}
/*------------------------------- Boutton -------------------------------*/
.btn_deco{
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 205px;
	height:35px;
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 2px #1F8A70;
}
	.btn_deco:hover{
		text-decoration: none;
		background-color: #eee;
		color: #1F8A70;
		border: solid 2px #1F8A70;
	}
.btn_sauv{
	margin-top: 5px;
	margin-bottom:10px;
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 1px #1F8A70;
}
	.btn_sauv:hover{
		background-color: #eee;
		color: #1F8A70;
		border: solid 1px #004358;
	}

.btn_annul{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom:10px;
	background-color: #1F8A70;
	color: white;
	border-radius: 5px;
	border: solid 1px #1F8A70;
}
	.btn_annul:hover{
		background-color: #f13131;
		color: #ffffff;
		border: solid 1px #ff0000;
	}
/*------------------------------------------------------------------------*/

.alert{
	font-size: 1.2em;
    border: solid 1px red;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

/*---------------------------- Form_multiple -----------------------------*/
.form_multiple{
	margin-top: 20px;
	margin-left: 175px;
}