 *{

   box-sizing: border-box; /* Changement du modèle de boîte */
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, em, img, strong, ol, ul, li{
    margin: 0 0;
    padding: 0 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


ol, ul {
    list-style: none;
}

div img{
    vertical-align: bottom;
}

img {
    max-width: 100%;
    height: auto;
    zoom :1;
}